# {{ ansible_managed }}
# Settings Hubot environment variables

{% if hubot.variables is defined %}
{% for variable, value in hubot.variables|dictsort(true) %}
{{ variable }}={{ value }}
{% endfor %}
{% endif %}
